[submodule "assignments/Project1"]
	path = assignments/Project1
	url = git@github.com:bojotamara/registry-app.git
[submodule "assignments/Project2"]
	path = assignments/Project2
	url = git@github.com:jspenguin2017/database-app.git
